{% extends "base.html" %}

{% comment %}
  Required context:
    post_id:   Hypnohub post ID of the post to be shown to the user.
    image_url: URL of the image matching the post ID. (Can be preview or
               regular, but keep in mind it'll be loaded directly into this
               page.)

  Optional context:
    None
{% endcomment %}

{% block head %}
  <style>
    .rating_image {
      width: 95%;
    }

    .vote_controls {
      float: left;
      background: #222;
      width: 5%;
      text-align: center;
    }

    .vote {
      display: block;
      text-decoration: none;
      font-size: 4em;
    }

    .vote.inactive {
      color: #c0c0c0;
    }

    .vote.loading {
      color: #60a0a0;
    }

    .vote.active {
      color: #00c0c0;
    }

    .upvote {
      margin-bottom: 0.5em;
    }
  </style>

  <script>
    /*
    TODO: This approach to voting is very misguided. Instead, it should
    work similarly to reddit. Triggering an upvote or downvote should
    change the color of the upvote or downvote *button*. And then once the
    vote request is confirmed to have gone through, the color should
    change *again*, to a more vibrant one. And the user should be able to
    change their vote as many times as they want.

    grey: no vote
    muted cyan: sending vote request
    normal cyan: vote request sent

    Of course, these should be defined in the CSS.

    Also, the save_button.js file already knows how to do most of this. So
    what we really need is to generalize that code to be able to handle
    multiple situations.

    Okay, I've generalized save_button.js, so now it's just a matter of interweaving its code with this code.
    */

    class AsyncAPIRequestManager {
      // Gives the user simple feedback on the progress of an
      // asynchronous API request. Also stops them from sending more
      // than one at a time.

      constructor() {
        this.apiCalls = {};
      }

      setAPICall(name, method, url, onLoadingStart, onLoadingDone,
        onLoadingFail) {
        // Once you start a request, onLoadingStart will be called.
        // After that, either onLoadingFail or onLoadingDone.
        this.apiCalls[name] = {
          name: name,
          method: method,
          url: url,
          onLoadingStart: onLoadingStart,
          onLoadingDone: onLoadingDone,
          onLoadingFail: onLoadingFail
        };
      }

      send(name) {
        // Send an API call with the given name.

        // Returns 0 if API call was sent. -1 if another
        // call is already in progress. -2 if call name not found.
        if (!this.apiCalls.hasOwnProperty(name)) {
          return -2;
        }

        var apiCall = this.apiCalls[name];
        var xhttp = new XMLHttpRequest();
        xhttp.open(apiCall.method, apiCall.url, true);

        if (this.currentlyBusy) {
          return -1;
        }

        this.currentlyBusy = true;
        apiCall.onLoadingStart();

        var this_ = this;

        xhttp.onload = function (info) {
          this_.currentlyBusy = false;

          if (xhttp.status === 200) {
            apiCall.onLoadingDone.apply(this, arguments);
          } else {
            apiCall.onLoadingFail.apply(this, arguments);
          }
        }

        xhttp.onerror = function () {
          this_.currentlyBusy = false;
          apiCall.onLoadingFail.apply(this, arguments);
        }

        xhttp.send();

        return 0;
      }
    }

    var postId = {{ post_id }};
    var upvoteButton;
    var downvoteButton;
    var saveButton;
    var voteManager = new AsyncAPIRequestManager();

    function setSaveButtonClass(direction, class_) {
        var dirBtn = direction ? upvoteButton : downvoteButton;
        dirBtn.classList.remove("inactive");
        dirBtn.classList.remove("loading");
        dirBtn.classList.remove("active");
        dirBtn.classList.add(class_);
    }

    function onVoteStart(direction) {
      return function () {
        setSaveButtonClass(direction, "loading");
      }
    }

    function onVoteDone(direction) {
      return function () {
        setSaveButtonClass(direction,  "active");
        setSaveButtonClass(!direction, "inactive");
      }
    }

    function onVoteFail(direction) {
      return function () {
        setSaveButtonClass(direction, "inactive");
      }
    }

    // TODO: Static /vote URL
    voteManager.setAPICall(
      "upvote",
      "GET", "/vote?up=true&id=" + postId,
      onVoteStart(true), onVoteDone(true), onVoteFail(true)
    );

    voteManager.setAPICall(
      "downvote",
      "GET", "/vote?up=false&id=" + postId,
      onVoteStart(false), onVoteDone(false), onVoteFail(false)
    );

    function upvote() { voteManager.send("upvote"); }
    function downvote() { voteManager.send("downvote"); }

    document.addEventListener('keyup', function(event) {
      if (event.key === 'a') {
        upvote();
      } else if (event.key === 'z') {
        downvote();
      }
    });

    var saveManager = new AsyncAPIRequestManager();

    function onSaveButtonClicked() {
      saveManager.send("save");
    }

    function resetSaveButton() {
      saveButton.innerHTML =  "<a href='#'>Click here to save votes.</a>";
      saveButton.onclick = onSaveButtonClicked;
    }

    function onSaveStart() {
      saveButton.innerText = "Saving...";
      saveButton.onclick = undefined;
    }

    function onSaveDone() {
      saveButton.innerText = "Done!";
      setTimeout(resetSaveButton, 2000);
    }

    function onSaveFail() {
      saveButton.innerText = "Failed.";
      setTimeout(resetSaveButton, 2000);
    }

    // TODO: Static /save URL
    saveManager.setAPICall(
      "save",
      "GET", "/save",
      onSaveStart, onSaveDone, onSaveFail
    );

    window.onload = function () {
      upvoteButton   = document.getElementsByClassName('upvote')[0];
      downvoteButton = document.getElementsByClassName('downvote')[0];
      saveButton     = document.getElementById("save_button");

      upvoteButton.onclick   = upvote;
      downvoteButton.onclick = downvote;
      saveButton.onclick = onSaveButtonClicked;
      resetSaveButton();
    }
  </script>
{% endblock %}

{% block title %}
  ID: {{ post_id }}
{% endblock %}

{% block content %}
  <p>A (up) and Z (down) to vote.</p>

  <div id="save_button">enable javascript to save</div>

  <div class="voting_area">
    <div class="vote_controls">
      <a href="#" class="vote upvote inactive">   /\ </a>
      <a href="#" class="vote downvote inactive"> \/ </a>
    </div>

    <a href="http://hypnohub.net/post/show/{{ post_id }}/">
      <img src="{{ image_url }}" class="rating_image"/>
    </a>
  </div>
{% endblock %}
