{% comment %}
  Required context:
    title (default: "Index")
{% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/static/main_app/base.css'>
    <link rel='shortcut icon' href='/static/favicon.ico'>

    <title>
      {% block tabtitle %}
        {{ title }}
      {% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>
    <h1>
      {% block title %}
        {{ title }}
      {% endblock %}
    </h1>

    {% block content %}{% endblock %}
  </body>
</html>
