{% extends "main_app/base.html" %}

{% comment %}
  Required context:
    post: A Post instance to display to the user.

  Optional context:
    tabtitle: defaults to "Post View"
{% endcomment %}

{% block title %}
  {{ post }}
{% endblock %}

{% block tabtitle %}
  {{ tabtitle|default:"Post View" }}
{% endblock %}

{% block head %}
<!--
  TODO: Everything in here is horribly hacky and barely works. I should just
  learn html and CSS already, I guess. As frustrating as they are to work with.
-->

  <style>
    /* https://i.imgur.com/Q3cUg29.gif */

    .image_container {
      /* center the image */
      text-align: center;
    }

    .main_image {
      max-width: 95%;
      max-height: 100%;
    }

    .vote {
      text-decoration: none;
      font-size: 1em;
    }

    .vote.upvote {
      margin-right: 0.5em;
    }

    .vote.inactive {
      color: #c0c0c0;
    }

    .vote.loading {
      color: #60a0a0;
    }

    .vote.active {
      color: #00c0c0;
    }

    .upvote {
      margin-bottom: 0.5em;
    }
  </style>

  <script>
    // This is used by the vote button script below.
    var postId = {{ post.id }};
  </script>

  <script src="/static/main_app/AsyncAPIRequestManager.js"></script>
  <script src="/static/main_app/PostViewVoteButtons.js"></script>
  <script src="/static/main_app/PostViewSaveButton.js"></script>
  <script src="/static/main_app/PostViewPermalinkControls.js"></script>
{% endblock %}

{% block content %}
  <div class="content">
    <div id="save_button">enable javascript to save</div>
    <div class="permalink_area">
      <p>
        permalink: <input id='permalink_textbox' readonly value="{{ post.permalink }}">
        <a href="#" id="copy_permalink">copy</a>
      </p>
    </div>

    <a href="#" class="vote upvote inactive">upvote</a>
    <a href="#" class="vote downvote inactive">downvote</a>

    <p>You can use A (up) and Z (down) to vote.</p>

    <div class="image_container">
      <a href="http://hypnohub.net/post/show/{{ post.id }}/">
        <img src="{{ post.sample_url }}" class="main_image portrait"/>
      </a>
    </div>
  </div>
{% endblock %}
