{% extends "main_app/base.html" %}

{% comment %}
  Required context:
    post: A Post instance to display to the user.

  Optional context:
    tabtitle: defaults to "Post View"
{% endcomment %}

{% block title %}
  {{ post }}
{% endblock %}

{% block tabtitle %}
  {{ tabtitle|default:"Post View" }}
{% endblock %}

{% block head %}
  <style>
    /* TODO: Dynamically (with Javascript) set the image's width and height
       depending on the aspect ratio of the image and the aspect ratio of the
       user's window. */
    .rating_image {
      width: 95%;
    }

    .vote_controls {
      float: left;
      background: #222;
      width: 5%;
      text-align: center;
    }

    .vote {
      display: block;
      text-decoration: none;
      font-size: 4em;
    }

    .vote.inactive {
      color: #c0c0c0;
    }

    .vote.loading {
      color: #60a0a0;
    }

    .vote.active {
      color: #00c0c0;
    }

    .upvote {
      margin-bottom: 0.5em;
    }
  </style>

  <script>
    // This is used by the vote button script below.
    var postId = {{ post.id }};
  </script>

  <script src="/static/main_app/AsyncAPIRequestManager.js"></script>
  <script src="/static/main_app/PostViewVoteButtons.js"></script>
  <script src="/static/main_app/PostViewSaveButton.js"></script>
  <script src="/static/main_app/PostViewPermalinkControls.js"></script>
{% endblock %}

{% block content %}
  <p>A (up) and Z (down) to vote.</p>

  <div id="save_button">enable javascript to save</div>
  <div class="permalink_area">
    permalink: <input id='permalink_textbox' readonly value="{{ post.permalink }}">
    <a href="#" id="copy_permalink">copy</a>
  </div>

  <div class="voting_area">
    <div class="vote_controls">
      <a href="#" class="vote upvote inactive">   /\ </a>
      <a href="#" class="vote downvote inactive"> \/ </a>
    </div>

    <a href="http://hypnohub.net/post/show/{{ post.id }}/">
      <img src="{{ post.sample_url }}" class="rating_image"/>
    </a>
  </div>
{% endblock %}
