{% extends "base.html" %}

{% comment %}
  Required context:
    post_id:   Hypnohub post ID of the post to be shown to the user.
    image_url: URL of the image matching the post ID. (Can be preview or
               regular, but keep in mind it'll be loaded directly into this
               page.)

  Optional context:
    None
{% endcomment %}

{% block head %}
  <style>
    .rating_image {
      width: 95%;
    }

    .vote_controls {
      float: left;
      background: #222;
      width: 5%;
      text-align: center;
    }

    .vote {
      display: block;
      text-decoration: none;
      font-size: 4em;
    }

    .vote.inactive {
      color: #c0c0c0;
    }

    .vote.loading {
      color: #60a0a0;
    }

    .vote.active {
      color: #00c0c0;
    }

    .upvote {
      margin-bottom: 0.5em;
    }
  </style>

  <script>
    /*
    TODO: This approach to voting is very misguided. Instead, it should
    work similarly to reddit. Triggering an upvote or downvote should
    change the color of the upvote or downvote *button*. And then once the
    vote request is confirmed to have gone through, the color should
    change *again*, to a more vibrant one. And the user should be able to
    change their vote as many times as they want.

    grey: no vote
    muted cyan: sending vote request
    normal cyan: vote request sent

    Of course, these should be defined in the CSS.

    Also, the save_button.js file already knows how to do most of this. So
    what we really need is to generalize that code to be able to handle
    multiple situations.

    Okay, I've generalized save_button.js, so now it's just a matter of interweaving its code with this code.
    */

    var hasVoted = false;
    var postId = {{ post_id }};
    var upvoteButton;
    var downvoteButton;

    function vote(direction) {
      // direction == true: upvote
      // direction == false: downvote
      if (hasVoted) {
        // TODO: This is a stupid restriction but I'm keeping it for now for
        // compatibility. Later on let's fix it.
        alert("You've already voted on this image.");
        return;
      }

      var dirStr = direction ? "upvote" : "downvote";

      var confirmationText = (
        "Want to " + dirStr + " the current image? (id: " + postId + ")"
      );

      if (!confirm(confirmationText)) return;

      var xhttp = new XMLHttpRequest();
      var dirBtn      =  direction ? upvoteButton : downvoteButton;
      var otherDirBtn = !direction ? upvoteButton : downvoteButton;

      function setButtonClass(button, class_) {
        dirBtn.classList.remove("inactive");
        dirBtn.classList.remove("loading");
        dirBtn.classList.remove("active");
        dirBtn.classList.add(class_);
      }

      function onFail() {
        setButtonClass(dirBtn, "inactive");
      }

      function onLoad() {
        if (xhttp.status === 200) {
          hasVoted = true;
          setButtonClass(dirBtn, "active");
          setButtonClass(otherDirBtn, "inactive");
        } else {
          onFail();
        }
      }

      xhttp.onload = onLoad;
      xhttp.onfail = onFail;

      // TODO: This should not be a static URL. This should be generated by
      // Django.
      // https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#url
      var voteUrl = (
        "/vote"
        + "?direction="
        + direction
        + "&id="
        + postId
      );

      xhttp.open("GET", voteUrl);
      xhttp.send();
      setButtonClass(dirBtn, "loading");
    }

    function upvote()   { vote(true); }
    function downvote() { vote(false); }

    document.addEventListener('keyup', function(event) {
      if (event.key === 'a') {
        upvote();
      } else if (event.key === 'z') {
        downvote();
      }
    });

    window.onload = function () {
      console.log("Onload triggered");
      upvoteButton = document.getElementsByClassName('upvote')[0];
      downvoteButton = document.getElementsByClassName('downvote')[0];
      upvoteButton.onclick = upvote;
      downvoteButton.onclick = downvote;
    }
  </script>

  {# TODO: Add this code to the template. #}
  {# Don't have it as a static file. #}
  <script src="/static/save_button.js"></script>
{% endblock %}

{% block title %}
  ID: {{ post_id }}
{% endblock %}

{% block content %}
  <p>A (up) and Z (down) to vote.</p>

  <div id="save_button">enable javascript to save</div>

  <div class="voting_area">
    <div class="vote_controls">
      <a href="#" class="vote upvote inactive">   /\ </a>
      <a href="#" class="vote downvote inactive"> \/ </a>
    </div>

    <a href="http://hypnohub.net/post/show/{{ post_id }}/">
      <img src="{{ image_url }}" class="rating_image"/>
    </a>
  </div>
{% endblock %}
