body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #00e0e0;
}

a {
    color: #00e0e0;
}

pre {
    font-family: "Lucida Console", Monaco, monospace;
    white-space: pre-wrap;
    /* white-space: pre; */
}

.rating_image {
    width: 95%;
}

.vote_controls {
    float: left;
    background: #222;
    width: 5%;
    text-align: center;
}

.vote {
    display: block;
    text-decoration: none;
    font-size: 4em;
}

.upvote {
    margin-bottom: 0.5em;
}
